{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
        {% endblock %}
    </title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <nav>
        <a href="{% url 'home' %}">Início</a>
        <a href="{% url 'biblioteca' %}">Biblioteca</a>
        <a href="{% url 'lista' %}">Listas</a>
    </nav>
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>