{% extends 'desenhos/base.html' %}
{% load static %}
{% block title %}
Início
{% endblock %}

{% block content %}
<div class="container-home">
<section class="hero">
    <div class="hero-texto">
        <h1>Reviva os desenhos da sua infância.</h1>
        <p>
            Explore uma biblioteca com desenhos clássicos organizados por
            década, gênero e estúdio. Descubra curiosidades, monte listas
            personalizadas e encontre seus desenhos favoritos em um só lugar.
        </p>
        <a href="{% url 'biblioteca' %}" class="botao">
            Explorar Biblioteca
        </a>
    </div>
    <div class="hero-imagem">

        <!-- coloque depois uma imagem aqui -->
        <img src="{% static 'imagens/logo.png' %}" alt="RetroToons">
    </div>
</section>

<section class="usuario-card">

    {% if user.perfil.foto %}
        <img src="{{ user.perfil.foto.url }}" class="foto-perfil">
    {% endif %}

    <h2>Bem-vindo, {{ user.username }}!</h2>

    <p>{{ user.email }}</p>
</section>
<section class="destaques">

    <div class="titulo-destaques">
        <h2>Adicionados recentemente</h2>
    </div>

    <div class="mini-cards">

    {% for desenho in desenhos %}

        <a href="{% url 'biblioteca' %}" class="mini-card">

            <img src="{{ desenho.capa.url }}" alt="{{ desenho.nome }}">

            <span>{{ desenho.nome }}</span>

        </a>

    {% empty %}

        <p>Nenhum desenho cadastrado.</p>

    {% endfor %}

</div>
</div>
</section>
{% endblock %}