{% extends 'desenhos/base.html' %}

{% block title %}
Início
{% endblock %}

{% block content %}

<section class="sobre">
    <div class="texto">
        <h2>O que é o Retrotoons?</h2>

        <p>
            O RetroToons é uma plataforma web voltada para fãs de desenhos animados clássicos e nostálgicos. O sistema permite explorar uma biblioteca de desenhos antigos, com informações organizadas por década, gênero, estúdios e emissoras responsáveis pelas produções. Além disso, os usuários podem criar listas personalizadas com seus desenhos favoritos, reunindo suas obras mais marcantes da infância.

            O objetivo do projeto é reunir entretenimento, nostalgia e organização em um único ambiente intuitivo e acessível.
        </p>

        <a class="botao" href="{% url 'biblioteca' %}">
            Explorar Biblioteca
        </a>
    </div>

    <div class="imagem-lateral">
        Imagem
    </div>
</section>

<section class="usuario">
    <h2>Bem-vindo, {{ user.username }}!</h2>

    {% if user.perfil.foto %}
        <img src="{{ user.perfil.foto.url }}" class="foto-perfil">
    {% endif %}

    <p>E-mail: {{ user.email }}</p>

    <p>
        Conta ativada?
        {{ user.perfil.email_confirmado|yesno:"Sim,Não" }}
    </p>
</section>

{% endblock %}