{% extends 'desenhos/base.html' %}

{% block logo %}
Minhas Listas Pessoais
{% endblock %}

{% block subtitulo %}
{% endblock %}

{% block title %}
Listas
{% endblock %}

{% block content %}

<div class="acoes-lista">
    <a href="{% url 'criar_lista' %}" class="btn-lista">
        + Criar nova lista
    </a>
</div>


{% for lista in listas %}
<div class="card">
    <h2>{{ lista.nome }}</h2>

    <a href="{% url 'excluir_lista' lista.id %}">
        Excluir lista
    </a>

    ...
</div>
{% endfor %}

{% endblock %}